.titlebar {
  background: var(--titlebar-bg);
  height: 30px;
  padding: 0 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 0.85rem;
  border-bottom: 1px solid #191d20;
}

.items {
  flex: 1;
  display: flex;
  margin-right: auto;
}

.title {
  flex: 1;
  text-align: center;
}

.items > * {
  margin-right: 1rem;
}

.windowButtons {
  display: flex;
}

.windowButtons * {
  width: 12px;
  height: 12px;
  margin-left: 8px;
  border-radius: 50%;
  cursor: pointer;
}

.minimize {
  background: #f6b73c;
}

.maximize {
  background: #4caf50;
}

.close {
  background: #f44336;
}

@media screen and (max-width: 900px) {
  .titlebar {
    font-size: 0.75rem;
  }
}
